MONGO_URI=mongodb://mongodb:27017/gdash_db

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=weather_logs_queue
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

API_PORT=3000
JWT_SECRET=SEGREDO_SUPER_SECRETO_GDASH
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=123456

COLLECTION_INTERVAL_SECONDS=60
LOCATION_LAT=-29.9433
LOCATION_LON=-51.7181

NESTJS_API_URL=http://backend-nestjs:3000/api/weather/logs

VITE_API_URL=http://localhost:3000/api